.container-yellow {
  display: flex;
   flex-direction: row;
    
}
.box {
  width: 23px;
  height: 23px;
  background-color: yellow;
  margin-right: 10px;
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.colors {
  display: flex;
  flex-direction: column;
}

.green {
  width: 23px;
  height: 23px;
  background-color: green;
  margin-right: 15px;
}

.container-color {
  display: flex;
  flex-direction: row;
}
